/node_modules
/public/hot
/public/storage
/storage/tmp/uploads/*
/storage/*.key
/vendor
/.idea/
/public/mix-manifest.json
/public/css/
/public/js/
/public/images/
/public/fonts/
/public/vendor/
/storage/.php_cs.cache
/storage/.phpstorm.meta.php
/storage/_ide_helper.php
.env
.env.backup
.phpunit.result.cache
composer.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


